.App {
  text-align: center;
  background-color: #FBB7BA;
}

/* #fde9df */
/* #ffcbcb */
/* * {
  width: 100%;
  height: 100%;
margin: 0;
padding: 0;
} */

@font-face {
  font-family: 'S-CoreDream-8Heavy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
